<div class="container">
  <h2>Admin panel | {{ hospital }}</h2>
  <div class="col-md-6">
    <div class="col-md-10 col-md-offset-1">
      <div class="text-center">
        <h3>Staff</h3>
      </div>
      <div class="list-group">
        <a *ngFor="let person of staff | async; let i = index" class="list-group-item">
          <div class="row">
            <div class="col-xs-10">
              <h4 class="list-group-item-heading">{{ person.Name }}</h4>
              <p class="list-group-item-text">{{ person.Class }}</p>
            </div>
            <div class="col-xs-2">
              <a *ngIf="person.Class!='Superuser'" class="btn btn-lg" (click)="deleteStaff(person); $event.stopPropagation()">
                <span class="glyphicon glyphicon-remove"></span>
              </a>

              <a *ngIf="person.Class=='Superuser'" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-lg" >
                <span class="glyphicon glyphicon-remove"></span>
              </a>

            </div>
          </div>

          <ng-container *ngIf="person.Class=='Superuser'">
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Warning</h4>
                    <div class="modal-body">
                      Are you sure you want to delete a superuser?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteStaff(person); $event.stopPropagation()">Yes, delete!</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

        </a>
      </div>

      <a [routerLink]="['/add-staff', hospital]" class="btn btn-success btn-lg">
        Add staff
      </a>

    </div>
  </div>

  <div class="col-md-6">
    <div class="col-md-10 col-md-offset-1">
      <div class="text-center">
        <h3>Rooms/Devices</h3>
      </div>
      <div class="list-group">
        <a *ngFor="let room of rooms | async" class="list-group-item">
          <div class="row">
            <div class="col-xs-10">
              <h4 class="list-group-item-heading">{{ room.Name }}</h4>
              <p class="list-group-item-text">{{ room.Class }}</p>
            </div>
            <div class="col-xs-2">
              <a class="btn btn-lg" (click)="deleteRoom(room); $event.stopPropagation()">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </div>
          </div>
        </a>
      </div>

      <a [routerLink]="['/add-room', hospital]" class="btn btn-primary btn-lg">
        Add device
      </a>

    </div>
  </div>


</div>
