<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Patients</h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <td>#</td>
          <td>First name</td>
          <td>Last name</td>
          <td>Birth date</td>
          <td>Dashboard</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients | async ; let i = index">
          <td><b>{{ i+1 }}</b></td>
          <td>{{ patient.FirstName }}</td>
          <td>{{ patient.SecondName }}</td>
          <td>{{ patient.BirthDate | date:'mediumDate'}}</td>
          <td>
            <button [routerLink]="['/patient-details', patient.$key]" class="btn btn-sm btn-default">See dashboard</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
