<!--<div class="configKey-graph jumbotron text-center" [style.border-color]="randomcolor" >-->
  <!---->
<!--</div>-->


<div class="panel panel-default">
  <div class="panel-body">
    <h3>
      {{ (configObj | async)?.Name | capitalize }}
      <small>| {{units}}</small>
      <span class="label label-default" [@state]="STATE" (@state.done)="animationDone($event)">NEW</span>
    </h3>

    <ng-container *ngIf="containsData()">
      <line-chart *ngIf="(configObj | async)?.ChartKey == 'LineGraph'" [lineChartLabels]="labels"  [lineChartData]="data" [showLegend]="false"  ></line-chart>
      <line-chart *ngIf="(configObj | async)?.ChartKey == 'MultiLineGraph'" [lineChartLabels]="labels"  [lineChartData]="data" [showLegend]="true"  ></line-chart>
      <indicator *ngIf="(configObj | async)?.ChartKey == 'Indicator'" [chartData]="data[0].data"></indicator>
      <table-chart *ngIf="(configObj | async)?.ChartKey == 'TableChart'" [chartData]="data" [chartDates]="labels"></table-chart>
      <pie-chart *ngIf="(configObj | async)?.ChartKey == 'PieChart'" [chartData]="data"></pie-chart>
    </ng-container>

    <a class="" (click)="removeConfig(); $event.stopPropagation()">
      <p class="small">Remove chart</p>
    </a>

    <div *ngIf="!containsData()" id="chart-replacement" class="text-center">
      <p class="lead">No data... yet</p>
    </div>
  </div>
</div>
