<!--<div class="configKey-graph jumbotron text-center" [style.border-color]="randomcolor" >-->
  <!---->
<!--</div>-->


<div class="panel panel-default">
  <div class="panel-body">
    <h3>{{ (configObj | async)?.Name | capitalize }}</h3>

    <ng-container *ngIf="containsData()">
      <!--<barchart [data]="[[0, 10],[1, 30], [2, 40], [3, 19]]"></barchart>-->
      <line-chart *ngIf="(configObj | async)?.ChartKey == 'LineGraph'" [lineChartLabels]="labels"  [lineChartData]="data" [showLegend]="false"  ></line-chart>
      <line-chart *ngIf="(configObj | async)?.ChartKey == 'MultiLineGraph'" [lineChartLabels]="labels"  [lineChartData]="data" [showLegend]="true"  ></line-chart>
      <indicator *ngIf="(configObj | async)?.ChartKey == 'Indicator'" [chartData]="data[0].data"></indicator>
    </ng-container>

    <div *ngIf="!containsData()" id="chart-replacement" class="text-center">
      <p class="lead">No data... yet</p>
    </div>
  </div>
</div>
