<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Add a new sensor</h2>

    <div class="col-md-4">
      <div class="text-center"><h4>Sensors</h4></div>
      <div class="list-group">
        <a *ngFor="let sensor of availableSensors" (click)="selectSensor(sensor)" [class.active]="sensor == selectedSensor" class="list-group-item">
          <h4>{{afService.getSensorName(sensor) | async}}</h4>
          <p>{{afService.getSensorConnection(sensor) | async}}</p>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center"><h4>Measurements</h4></div>
      <div class="list-group">
        <a *ngFor="let measurement of availableMeasurements" (click)="selectMeasurement(measurement)" [class.active]="measurement == selectedMeasurement" class="list-group-item">
          <h4>{{measurement}}</h4>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center"><h4>Representations</h4></div>
      <div class="list-group">
        <a *ngFor="let representation of availableRepresentations" (click)="selectRepresentation(representation)" [class.active]="representation == selectedRepresentation" class="list-group-item">
          <h4>{{representation}}</h4>
        </a>
      </div>
    </div>

    <div class="clearfix"></div>

    <button class="btn btn-default" (click)="goBack()">Cancel</button>
    <button class="btn btn-success" (click)="addSensor()">Add it!</button>
  </div>
</div>
