<div class="container">
  <h1>Dashboard for <span id="name-highlight">{{ (patient | async)?.FirstName }} {{ (patient | async)?.SecondName }}</span></h1>

  <ng-container *ngFor="let config of configs | async; let i = index">
    <div class="col-md-4">
      <sensor-graph [userKey]="key" [configKey]="config.ConfigKey"></sensor-graph>
    </div>
    <div *ngIf="i%3==2" class="clearfix"></div>
  </ng-container>

  <div id="add-new-sensor" class="col-md-4">
    <div routerLink="/add-sensor" id="add-new-sensor-content" class="text-center">
      <span class="glyphicon glyphicon-plus"></span>
      <p class="lead">Add new sensor</p>
    </div>

  </div>

</div>
